h1,h2 {
    font-family: 'Poppins', 'sans-serif';
    text-align: center;
    color: #3C4142;
}
body {
    font-family: 'Roboto', 'sans-serif';
    font-size: 16px;
    text-align: center;
    color: #3C4142;
}

#primary-nav a {
    text-decoration: none;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.main-button {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    min-width: 300px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: #0072BB;
    color: white;
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    &:hover {
        background-color: #4682B4;
    }
}

.quiz-options {
    display: flex; /*flexbox layout*/
    flex-wrap: wrap; /*allows buttons to move to next line if not enough space*/
    justify-content: center; /*centers buttons*/
    gap: 15px;
    margin-top: 20px;
    margin-bottom: 30px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

.quiz-button {
    flex: 1 1 45%;
    min-width: 120px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 15px 30px;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    border-radius: 8px;
    transition: background-color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
    &:disabled {
        cursor: not-allowed;
        color: #666666;
        box-shadow: none;
        &:hover {
            background-color: white;
        }
    }
    &:hover {
        background-color: #4682B4;
        box-shadow: 0 6px 12px rgba(0,0,0,0.3);
    }
    
}

.quiz-button.correct {
    border: 2px solid #32cd32;
    color: #32cd32;
}

.quiz-button.wrong {
    border: 2px solid #dc3545; 
    color: #dc3545;
}

.news-button {
    flex: 1 1 45%;
    min-width: 120px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 15px 30px;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    border-radius: 8px;
    transition: background-color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
    &:hover {
        background-color: #4682B4;
        box-shadow: 0 6px 12px rgba(0,0,0,0.3);
    }
}

#news-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.news-card {
    flex: 1 1 calc(33.333% - 20px);
}

.toggle-group {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.toggle-btn {
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    background: #0072BB;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    position: relative;
    &:hover {
        background-color: #4682B4
    }
}

.toggle-btn.active {
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.toggle-btn.active::after {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #FFD700;
    animation: slideInBar 0.3s forwards;
    border-radius: 0 0 8px 8px;
}

@keyframes slideInBar {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

.toggle-content {
    display: none;
    padding: 15px;
    border-radius: 10px;
    background: #f5f5f5;
    margin-top: 10px;
}